@import "../styles/variable.module.scss";

.section {
  min-height: 90vh;
  height: 100vh;
  & > .hero-section {
    min-height: 120vh;
    height: 120vh;
    color: white;
    position: relative;
    margin-top: -30vh;
    height: inherit;

    .hero-section-container {
      position: absolute;
      top: 40%;
      left: 1%;
      width: 100%;
      max-width: $breakpoint-lg;

      z-index: 99;
      background-color: transparent;
      display: flex;
      flex-wrap: wrap;

      justify-content: flex-start;

      &-social-links {
        margin-left: 20px;
        flex: 0.25;
        display: flex;
        flex-direction: column;

        & > a {
          margin-bottom: 10px;

          & > img:hover {
            filter: invert(1);
          }
        }
      }

      &-title {
        font-size: 1em;
        flex: 2;

        & .caption {
          &-1 {
            margin-top: 0;
            margin-bottom: 2px;
            font-size: 1.5rem;
            font-weight: 500;
          }

          &-main {
            font-size: 3.25rem;
            line-height: 1;
            margin: 5px 0;
          }

          &-2 {
            font-size: 1rem;
            margin: 1rem 0;
            font-weight: 500;
          }
        }

        & > .searchbar {
          position: relative;
          width: 80%;
          margin-bottom: 1rem;

          & .MuiTextField-root {
            width: 70%;
          }

          & > button {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 30%;
            border: none;
            color: white;
            background-color: black;

            &:hover {
              background-color: $primary-color;
              color: white;
              cursor: pointer;
            }
          }
        }

        & > .search-list {
          width: 25%;
          position: absolute;
          background-color: white;
          color: black;
          z-index: 999;
        }

        & > .short-company-info {
          width: 80%;
          display: flex;

          & > * {
            margin-right: 2rem;
          }

          & > p {
            display: flex;
            align-items: center;
          }
        }
      }

      &-product-carousel {
        flex: 2;
      }
    }

    > .hero-section-bg {
      z-index: -1;
      &::after {
        content: "";
        position: absolute;
        background: rgba($color: $primary-color, $alpha: 0.8);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      & > video {
        object-fit: cover;
        height: 120vh;
        width: 100%;
        display: block;
      }
    }
  }

  &.section#prod-serv-section {
    height: 90vh;
    & .prod-serv-section-container {
      background-color: #fff0f1;
      padding: 3rem;

      & > h1 {
        margin: 3rem auto;
        font-size: 3.25rem;
        line-height: 1;
        text-align: center;
      }

      & .service {
        // background-color: white;
        border-radius: 20px;
        // display: flex;
        flex-direction: column;
        padding: 0.5rem;
        text-align: center;

        & > img {
          margin: auto;
        }
      }
    }
  }

  &.section#our-company {
    height: 90vh;
    padding: 2rem;
    color: white;
    margin-top: auto;
    margin-bottom: auto;

    & .our-company-container {
      border-radius: 1rem;
      padding: 4rem;
      background: rgb(158, 37, 37);
      background: linear-gradient(
        90deg,
        rgba(158, 37, 37, 1) 50%,
        rgba(177, 85, 79, 1) 100%
      );

      & .left-pane {
        & > * {
          margin-bottom: 1rem;
        }

        & h1 {
          font-size: $h1-size;
        }

        & .contact-info {
          padding: 1rem;

          &:hover {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          }
        }
      }

      & .image-container {
        position: relative;
        border-radius: 2rem;
        height: 100%;

        & .years-of-service {
          position: absolute;
          padding: 1rem;
          border-radius: 0 0 0 1rem;
          top: 0;
          right: 0;
          background: linear-gradient(
            90deg,
            rgba(158, 37, 37, 1) 50%,
            rgba(177, 85, 79, 1) 100%
          );
          display: flex;

          & > p {
            margin: 5px;
          }
        }
      }
    }
  }

  &.section#inquire-section {
    background-color: rgba($color: $primary-color, $alpha: 0.8);
    padding: 2rem;

    & .inquire-section-container {
      height: 100%;

      & .image {
        height: 100%;
        position: relative;

        & img.main {
          filter: brightness(70%);
        }

        & .caption {
          width: 100%;
          position: absolute;

          left: 50%;
          transform: translateX(-40%);
          // left: 50%;
          bottom: 10%;
          color: white;
          // transform: translateX(50%);

          & .message-icon {
            filter: invert(1);
            width: 30px;
          }

          & h4 {
            margin: 0 0;
            font-size: 2rem;
            letter-spacing: 5px;
          }
        }
      }

      & .form {
        color: white;

        & > * {
          margin-bottom: 1rem;
        }

        & textarea:placeholder {
          font-family: $default-font;
        }

        & .header-bg {
          margin-bottom: -3rem;
          font-size: 3.5rem;
          font-weight: 900;
          letter-spacing: 0.7rem;
          opacity: 0.2;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-md) {
  .section {
    & > .hero-section {
      .hero-section-container {
        display: flex;
        flex-wrap: wrap;
        max-width: 500px;

        &-social-links {
          display: none;
        }

        &-title {
          margin-left: 50px;
          flex: 1;
          flex-basis: 50%;
        }

        &-product-carousel {
          flex: 1;
          flex-basis: 50%;
        }
      }
    }
  }
}
