.product-page .product-container-image img {
  width: 100%;
}
.product-page .product-container-image .image-viewer .image-viewer-item-container {
  border-radius: 0.1rem;
  display: flex;
  padding: 0.3rem;
  cursor: pointer;
}
.product-page .product-container-image .image-viewer .image-viewer-item-container > * {
  border-radius: 0.5rem;
  align-self: center;
}
.product-page .product-container-image .image-viewer .image-viewer-item-container.selected {
  border-radius: 0.5rem;
  border: 1px solid #9e2b25;
}
.product-page .product-container-image .image-viewer .image-viewer-current.fadeIn {
  animation: fadeIn 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.product-page .product-container form {
  padding: 0 2rem 2rem 2rem;
}
.product-page .product-container form > * {
  margin-bottom: 1rem;
}
.product-page .product-container form .price-qty-container {
  display: flex;
  justify-content: space-between;
}
.product-page .product-container form .description {
  opacity: 0.8;
}
.product-page .product-container form textarea::-moz-placeholder {
  font-family: "Lato", Arial, Helvetica, sans-serif;
}
.product-page .product-container form textarea::placeholder {
  font-family: "Lato", Arial, Helvetica, sans-serif;
}
.product-page .other-info-container .box {
  width: 90%;
  height: 100%;
  padding: 1rem;
  display: block;
  border-radius: 1rem;
  background-color: #f4f4f4;
}