.section {
  min-height: 100vh;
  height: 100vh;
}
.section > .hero-section {
  min-height: 120vh;
  height: 120vh;
  color: white;
  position: relative;
  margin-top: -30vh;
  height: inherit;
}
.section > .hero-section .hero-section-container {
  position: absolute;
  top: 350px;
  left: 0;
  width: 100%;
  max-width: 1333px;
  z-index: 99;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.section > .hero-section .hero-section-container-social-links {
  margin-left: 20px;
  flex: 0.25;
}
.section > .hero-section .hero-section-container-title {
  font-size: 1em;
  flex: 2;
}
.section > .hero-section .hero-section-container-title .caption-1 {
  margin-top: 0;
  margin-bottom: 2px;
  font-size: 1.5rem;
  font-weight: 500;
}
.section > .hero-section .hero-section-container-title .caption-main {
  font-size: 3.25rem;
  line-height: 1;
  margin: 5px 0;
}
.section > .hero-section .hero-section-container-title .caption-2 {
  font-size: 1rem;
  margin: 1rem 0;
  font-weight: 500;
}
.section > .hero-section .hero-section-container-title > .searchbar {
  position: relative;
  width: 80%;
}
.section > .hero-section .hero-section-container-title > .searchbar .MuiTextField-root {
  width: 70%;
}
.section > .hero-section .hero-section-container-title > .searchbar > button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 30%;
  border: none;
  color: white;
  background-color: black;
}
.section > .hero-section .hero-section-container-title > .searchbar > button:hover {
  background-color: #9e2b25;
  color: white;
  cursor: pointer;
}
.section > .hero-section .hero-section-container-title > .search-list {
  width: 25%;
  position: absolute;
  background-color: white;
  color: black;
  z-index: 999;
}
.section > .hero-section .hero-section-container-title > .short-company-info {
  width: 80%;
  display: flex;
}
.section > .hero-section .hero-section-container-title > .short-company-info > * {
  margin-right: 2rem;
}
.section > .hero-section .hero-section-container-title > .short-company-info > p {
  display: flex;
  align-items: center;
}
.section > .hero-section .hero-section-container-product-carousel {
  flex: 2;
}
.section > .hero-section > .hero-section-bg {
  z-index: -1;
}
.section > .hero-section > .hero-section-bg::after {
  content: "";
  position: absolute;
  background: rgba(158, 43, 37, 0.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.section > .hero-section > .hero-section-bg > video {
  -o-object-fit: cover;
     object-fit: cover;
  height: 120vh;
  width: 100%;
  display: block;
}

@media (max-width: 768px) {
  .section > .hero-section .hero-section-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
  }
  .section > .hero-section .hero-section-container-social-links {
    display: none;
  }
  .section > .hero-section .hero-section-container-title {
    margin-left: 50px;
    flex: 1;
    flex-basis: 50%;
  }
  .section > .hero-section .hero-section-container-product-carousel {
    flex: 1;
    flex-basis: 50%;
  }
}