$primary-color: #9e2b25;
$secondary-color: #fff8f0;
$tertiary-color: #f5f8de;

$breakpoint-sm: 480px; //cp
$breakpoint-md: 768px; //tablet
$breakpoint-lg: 1333px; //normal screen
$container-margin-left: 50px;
